@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", "Nunito", sans-serif; /* Default body font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif; /* Headings font */
}
